.navbar {
  display: flex;
  justify-content: center;
  padding: 2em;
  height: 3em;
}
.logo {
  width: 14rem;
  height: 14rem;
  position: relative;
  bottom: 3rem;
  right: 2rem;
}

.nav-list {
  display: flex;
  list-style: none;
}
li {
  font-size: 1rem;
  padding-top: 1rem;
  padding-left: 0.6rem;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: black;
}
@media screen and (width >= 1200px) {
  .navbar {
    display: flex;
    justify-content:center;
    padding: 2em;
    height: 3em;
  }
  .logo {
    width: 14rem;
    height: 14rem;
    position: relative;
    bottom: 3rem;
    right: 45rem;
  }
  li {
    font-size: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
  .navbar {
    display: flex;
    justify-content: end;
    padding: 2em;
    height: 3em;
    width: 85rem;
  }
}
